body {
	font: 11pt Arial, Helvetica;
	padding:0;
	margin:0;
}

#imgMerge {
	transform:scale(1,1);
	position:absolute;
	width: 808px;
	height:404px;
	top:0;
	left: calc((100vw - 808px)/2);
}

.canvasDeco {
	position:relative;
	top:0;
	float:left;
	background-image: url(data:image/gif;base64,R0lGODlhCgAKAIAAAOLi4v///yH5BAAHAP8ALAAAAAAKAAoAAAIRhB2ZhxoM3GMSykqd1VltzxQAOw==);
	display: block;
	border: 2px solid #ccc;
	width:400px;
	height:400px;
	margin-bottom:40px;
	z-index:1;

	input {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}

    label {
        position:absolute;
    	height:40px;
    	width:100px;
    	background-color:white;
    	top:200px;
    	left:calc((100% - 100px)/2);
    }
}

#canvasContainer1, #canvasContainer2 {
	display:relative;
	display: block;
	width:400px;
	height:400px;
	z-index:3;
}

#temp {
	width:800px;
	height:400px;
	border:1px solid red;
}

#image-download {
	position:absolute;
	top:440px;
	width:808px;
	left: calc((100vw - 808px)/2);
}

.press {
	display:inline-block;
	padding:15px;
	background-color:teal;
	border:1px solid teal;
	border-radius: 4px;
	color:white;
	text-decoration:none;
	cursor:pointer;
	font-size:14px;
}

.drop {
	background-color:teal;
}
